/* Practice CustomFonts Style Sheet */

@font-face {
    font-family: 'quicksand';
    src: url('../fonts/quicksand-lightitalic-webfont.woff') format('woff'),
         url('../fonts/quicksand-lightitalic-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

body{
	font-family: 'quicksand', "Times New Roman", serif;
}