/*Cole Carlson, 10/29/2021*/


@font-face {
	font-family: 'quicksand';
	src: url('../fonts/quicksand-regular-webfont.woff'),
	url('../fonts/quicksand-regular-webfont.woff2');
}
.righteous{
	font-family: 'Righteous', cursive;
	font-size: 56px;
}


#outerwrapper {

	width: 70%;
	margin-left: auto;
	margin-right: auto;
} 

body{
	background-color: #B8D1EB;
	color: #000000;
	font-family:'Times New Roman', Times, serif
}

h2{
	font-family: 'quicksand';
	font-weight: normal;
	font-style: italic;
}

ul{
	list-style-type: none;
	
}

.floatleft { 
float: left;
margin-right: 3%;

}

.floatright {
float: right;
margin-right: 3%; 

}

main{ 
clear: both;
background-color: #C5A98B;
padding: 10px;
text-align: center;

}
footer {
	background-color:yellowgreen;
	padding: 10px;
	clear: both;
	text-align: center;
}
